<div class="container">
  <div class="row">
    <div class="col-3">
      <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th><strong>　　　　　ジャンル検索　　　　　</strong></th>
        </tr>
        <tr>
          <% @genres.each do |f| %>
          <td>　　<%= f.name %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <div class="card">
        <img class="card-img" src="/assets/nagano_cake.jpg" height="350">
        <div class="card-img-overlay">
          <div class="card-card bg-white" style="border: 1.5px solid;">
            <p class="card-text" style="font-size: 15px;">
              <br>
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
              <br>
            </p>
          </div>
        </div>
      </div>
      <div>
        <h1 style="font-size: 30px;">新着商品</h1>
          <% @items.each do |f| %>
          <div><%= image_tag f.get_image %></div>
          <div>商品名<%= f.name %></div>
          <div>¥<%= f.price.to_s(:delimited) %></div>
          <% end %>
      </div>
    </div>
  </div>
</div>