<div class="container">
  <div class="row justify-content-center">
    <div class="text-center" style="font-size: 20px; margin-top: 200px;">
      <strong>ご注文ありがとうございました！</strong>
    </div>
  </div>
</div>