<div class="container">
  <div class="row my-4">
    <div class="bg-light text-dark" style="margin-left: 150px; font-size: 20px;">
      <strong>　注文情報入力　</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <div style="font-size: 20px;">
        <strong>支払方法</strong>
      </div>
      <div style="margin-left: 50px;">
        <%= form_with model: @order orders_confirm_path do |f| %>
        <div>
          <%= f.radio_button :payment_method, 0, checked: true %>クレジットカード
        </div>
        <div>
         <%= f.radio_button :payment_method, 1 %>銀行振込
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>